@font-face {
    font-family: bold;
    src: url(./Gilroy-Bold.ttf);
}
@font-face {
    font-family: medium;
    src: url(./Gilroy-Medium.ttf);
}
@font-face {
    font-family: regular;
    src: url(./Gilroy-Regular.ttf);
}
@font-face {
    font-family: semibold;
    src: url(./Gilroy-Semibold.ttf);
}
@font-face {
    font-family: ultralight;
    src: url(./Gilroy-UltraLight.ttf );
}
/* ------ */
@font-face {
    font-family: montserrat-bold;
    src: url(./Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-black;
    src: url(./Montserrat-Black.ttf);
}


